name: Matrix Test and Notify

on:
  push:
    branches: master 
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'

jobs:
  # This workflow returns a JSON matrix that covers the 2 OSes (macos,linux) and 2 architectures (x86,arm64) we currently support. Plus additional variables needed by the other workflows.
  generate-matrix-tuple:
    uses: ./.github/workflows/generate-matrix.yml # Call the matrix-generating workflow

  # This job builds the 4 packages, uploads them to Anaconda and runs test(s) against them.
  run-junpyter-notebooks:
    needs: generate-matrix-tuple # Ensure matrix generation completes first
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix-tuple.outputs.matrix) }}
    uses: ./.github/workflows/testing-conda-jupyter.yml # Call the matrix-generating workflow
    secrets: inherit
    with:
      matrix_os: ${{ matrix.os }}
      fermitools_pkg_ver: "2.4.154"
